svg.plot {
    width: 100%;
    height: 100%;
}

svg.plot .plotBorders {
    fill: none;
    stroke: #000000;
    stroke-width: 2;
    stroke-linejoin: round;
}

svg.plot .axisLabel {
    font-size: 16pt;
    font-family: 'Arial', sans-serif;
    fill: #000000;
    text-align: center;
    text-anchor: middle
}

svg.plot .axisTickLabel {
    font-size: 12pt;
    font-family: 'Arial', sans-serif;
    fill: #000000;
}

svg.plot .xAxis .axisTickLabel {
    text-align: center;
    text-anchor: middle;
}

svg.plot .yAxis .axisTickLabel {
    text-align: end;
    text-anchor: end;
}

svg.plot .axisTick {
    stroke: #777;
    stroke-width: 1.5;
    stroke-linecap: round;
}

svg.plot .invisible {
    fill: #fff;
    fill-opacity: 0;
    stroke: none;
}

svg.plot .hoverCursorContainer>.hoverCursor {
    transition: transform 0.2s cubic-bezier(.16, 1.36, .61, 1.39);
    transform: scale(1, 1);
}

svg.plot .hoverCursorContainer.hidden>.hoverCursor {
    transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transform: scale(0, 0);
}

svg.plot .hoverCursor {
    stroke: #ffffff;
    stroke-width: 1.5;
}

svg.plot .hoverCursorContainer.upsideDown>.noCaptureZone {
    transform: scaleY(-1);
}

svg.plot .lineGroup>.line {
    fill: none;
    transition: stroke-width 0.2s;
    transition: opacity 0.6s;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    opacity: 0.4;
}

svg.plot .lineGroup {
    cursor: pointer;
}

svg.plot .lineGroup.main {
    pointer-events: none;
    cursor: auto;
}

svg.plot .lineGroup.main>.line {
    stroke-width: 3;
    opacity: 1;
}

svg.plot .lineGroup:hover>.line, svg.plot .lineGroup.hovering>.line {
    animation: lineHover 0.5s cubic-bezier(.5, 0, .6, 1) infinite alternate;
    opacity: 1;
}

@keyframes lineHover {
    from {
        stroke-width: 3.5;
    }
    to {
        stroke-width: 5;
    }
}

svg.plot .lineGroup>.bleed {
    fill: none;
    transition: stroke-width 0.2s;
    stroke-width: 5;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #ffffff;
}

svg.plot .lineGroup.main>.bleed {
    stroke-width: 6;
}

svg.plot .lineGroup:hover>.bleed {
    stroke-width: 6;
}

svg.plot .lineGroup>.mouseCapture {
    fill: none;
    stroke-width: 10;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #ffffff;
    stroke-opacity: 0;
}

svg.plot .lineGroup.main>.mouseCapture {
    stroke-width: 0;
}

svg.plot .lineGroup.color0>.line {
    stroke: #f94a01;
}

svg.plot .lineGroup.color1>.line {
    stroke: #6b42b6;
}

svg.plot .lineGroup.color2>.line {
    stroke: #11a854;
}

svg.plot .lineGroup.color3>.line {
    stroke: #128db2;
}

svg.plot .lineGroup.color4>.line {
    stroke: #e12fbc;
}

svg.plot .lineGroup.color5>.line {
    stroke: #e6ab02;
}

svg.plot .lineGroup.color6>.line {
    stroke: #9ed034;
}

svg.plot .lineGroup.color7>.line {
    stroke: #fabebe;
}

svg.plot .lineGroup.color8>.line {
    stroke: #ffd8b1;
}

svg.plot .lineGroup.color9>.line {
    stroke: #808000;
}

svg.plot .lineGroup.color10>.line {
    stroke: #666666;
}

svg.plot .hoverCursor.color0 {
    fill: #f94a01;
}

svg.plot .hoverCursor.color1 {
    fill: #6b42b6;
}

svg.plot .hoverCursor.color2 {
    fill: #11a854;
}

svg.plot .hoverCursor.color3 {
    fill: #128db2;
}

svg.plot .hoverCursor.color4 {
    fill: #e12fbc;
}

svg.plot .hoverCursor.color5 {
    fill: #e6ab02;
}

svg.plot .hoverCursor.color6 {
    fill: #9ed034;
}

svg.plot .hoverCursor.color7 {
    fill: #fabebe;
}

svg.plot .hoverCursor.color8 {
    fill: #ffd8b1;
}

svg.plot .hoverCursor.color9 {
    fill: #808000;
}

svg.plot .hoverCursor.color10 {
    fill: #666666;
}

.plot.tooltip {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
    transition: opacity 0.4s cubic-bezier(.75, 0, .84, .05);
    opacity: 0.97;
    width: 0;
    /* (Setting `width` to zero prevents spurious horizontal scroll bar from appearing.) */
}

.plot.tooltip.hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
}

.plot.tooltip.undisplayed {
    display: none;
}

.plot.tooltip>.tooltipInnerContainer {
    position: absolute;
    transition: transform 0.2s ease;
    transform: translateY(0);
    bottom: 0;
    pointer-events: none;
}

.plot.tooltip>.tooltipInnerContainer>.tooltipMain {
    position: relative;
    bottom: 2em;
    left: -50%;
    border-radius: 0.5em;
    box-shadow: 0 0 0.02em 0.15em #fff;
    pointer-events: auto;
}

.plot.tooltip>.tooltipInnerContainer>.tooltipMain>.tooltipContent {
    position: relative;
    z-index: 2;
    border-radius: 0.5em;
    padding: 0.5em 0.7em;
    white-space: nowrap;
    text-align: center;
}

.plot.tooltip>.tooltipInnerContainer>.tooltipPointer {
    position: absolute;
    width: 2em;
    height: 2em;
    bottom: 1.3em;
    left: -1em;
    transform: rotate(45deg);
    box-shadow: 0 0 0.02em 0.15em #fff;
    z-index: 1;
    pointer-events: auto;
}

.plot.tooltip.pointsUp>.tooltipInnerContainer {
    transform: translateY(100%)
}

.plot.tooltip.pointsUp>.tooltipInnerContainer>.tooltipMain {
    bottom: auto;
    top: 2em;
}

.plot.tooltip.pointsUp>.tooltipInnerContainer>.tooltipPointer {
    bottom: auto;
    top: 1.3em;
}

.plot.tooltip.color0>.tooltipInnerContainer>.tooltipMain>.tooltipContent {
    background-color: #ef7e4e;
}

.plot.tooltip.color0>.tooltipInnerContainer>.tooltipPointer {
    background-color: #ef7e4e;
}

.plot.tooltip.color1>.tooltipInnerContainer>.tooltipMain>.tooltipContent {
    background-color: #b29fd6;
}

.plot.tooltip.color1>.tooltipInnerContainer>.tooltipPointer {
    background-color: #b29fd6;
}

.plot.tooltip.color2>.tooltipInnerContainer>.tooltipMain>.tooltipContent {
    background-color: #419969;
}

.plot.tooltip.color2>.tooltipInnerContainer>.tooltipPointer {
    background-color: #419969;
}

.plot.tooltip.color3>.tooltipInnerContainer>.tooltipMain>.tooltipContent {
    background-color: #34849c;
}

.plot.tooltip.color3>.tooltipInnerContainer>.tooltipPointer {
    background-color: #34849c;
}

.plot.tooltip.color4>.tooltipInnerContainer>.tooltipMain>.tooltipContent {
    background-color: #ad519b;
}

.plot.tooltip.color4>.tooltipInnerContainer>.tooltipPointer {
    background-color: #ad519b;
}

.plot.tooltip.color5>.tooltipInnerContainer>.tooltipMain>.tooltipContent {
    background-color: #e6ab02;
}

.plot.tooltip.color5>.tooltipInnerContainer>.tooltipPointer {
    background-color: #e6ab02;
}

.plot.tooltip.color6>.tooltipInnerContainer>.tooltipMain>.tooltipContent {
    background-color: #8aa551;
}

.plot.tooltip.color6>.tooltipInnerContainer>.tooltipPointer {
    background-color: #8aa551;
}

.plot.tooltip.color7>.tooltipInnerContainer>.tooltipMain>.tooltipContent {
    background-color: #fabebe;
}

.plot.tooltip.color7>.tooltipInnerContainer>.tooltipPointer {
    background-color: #fabebe;
}

.plot.tooltip.color8>.tooltipInnerContainer>.tooltipMain>.tooltipContent {
    background-color: #ffd8b1;
}

.plot.tooltip.color8>.tooltipInnerContainer>.tooltipPointer {
    background-color: #ffd8b1;
}

.plot.tooltip.color9>.tooltipInnerContainer>.tooltipMain>.tooltipContent {
    background-color: #808000;
}

.plot.tooltip.color9>.tooltipInnerContainer>.tooltipPointer {
    background-color: #808000;
}

.plot.tooltip.color10>.tooltipInnerContainer>.tooltipMain>.tooltipContent {
    background-color: #888888;
}

.plot.tooltip.color10>.tooltipInnerContainer>.tooltipPointer {
    background-color: #888888;
}

.plot.tooltip .lineDescription {
    font-weight: bold;
    font-size: 120%;
    margin-bottom: 0.3em;
}

.plot.tooltip .mainWord {
    font-style: italic;
    margin: 0.3em 0;
}

.plot.tooltip .mainWord::before {
    content: '“';
}

.plot.tooltip .mainWord::after {
    content: '”';
}
