body {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.pageContainer {
    width: 48em;
    position: absolute;
    left: 50%;
    transform: translateX(-70%);
}

h1 {
    text-align: center;
    font-weight: normal;
    font-size: 350%;
    font-family: 'DM Serif Display', serif;
    margin: 0.3em 0 0.7em 0;
    padding: 0;
}

h2 {
    font-weight: normal;
    text-align: center;
    font-size: 200%;
    margin: 0.4em 0
}

.plotAndLegend {
    position: relative
}

.plotContainer {
    position: absolute;
    left: -2em;
    width: 48em;
}

.centered {
    text-align: center;
}

.wordInput {
    margin: 0 0 1em 0;
    font-size: 200%;
    width: 40%;
    text-align: center;
    border: solid 0.05em #ccc;
    padding: 0.2em;
}

.mustIncludeInput {
    margin: 0 0 1em 0;
    font-size: 150%;
    width: 60%;
    text-align: center;
    border: solid 0.05em #ccc;
    padding: 0.2em;
}

.wordInput:focus {
    border-color: #86bdf0;
    outline: none;
}

.wordInput.invalid {
    background-color: #fdebeb;
}

.tooltipContent .explanation {
    font-size: 90%;
}

.tooltipContent th {
    font-size: 120%;
}

.tooltipContent th, .tooltipContent td {
    vertical-align: baseline;
}

.tooltipContent th.left, .tooltipContent td.left {
    padding-right: 0.3em;
}

.tooltipContent th.right, .tooltipContent td.right {
    padding-left: 0.3em;
}

.tooltipContent .year {
    font-size: 140%;
    font-weight: bold;
}

.tooltipContent .interleave {
    padding: 0 0 0.3em 0;
}

.tooltipContent .hint {
    opacity: 0.7;
    font-size: 80%;
    margin-top: 0.1em;
}

.tooltipContent table {
    width: 100%;
}

.tooltipContent .wait {
    display: none;
    position: absolute;
    text-align: center;
    width: 10em;
    white-space: normal;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
    font-size: 80%;
}

.tooltipContent.waiting .wait {
    display: block;
}

.tooltipContent .suggestionsTable {
    visibility: visible;
}

.tooltipContent.waiting .suggestionsTable {
    visibility: hidden;
}

.tooltipContent .suggestion {
    padding: 0.05em 0;
    font-size: 80%;
}

.tooltipContent .left {
    text-align: left;
}

.tooltipContent .right {
    text-align: right;
}
.tooltipContent .removeWordButton{
  background-color: #BCB8AE; /*Mindful Gray*/
  color: white;
  font-size: 16px;  
}
.tooltipContent a {
    text-decoration: none;
    color: #152d74;
}

.legend {
    visibility: hidden;
    display: table-caption;
    background-color: #e8e8e8;
    border-radius: 0.5em;
    padding: 0.7em 0.9em;
    width: auto;
    position: absolute;
    left: 47em;
    top: 0;
    min-width: 10em;
}

.legendText {
    color: #333333;
}

.legend>ul {
    list-style-type: none;
    margin: 0 0 0.5em 0;
    padding: 0;
    font-size: 120%;
}

.legend>ul>li {
    margin: -0.2em -0.4em 0.2em -0.4em;
    padding: 0.2em 0.4em 0.4em 0.4em;
    border-radius: 0.2em;
    white-space: nowrap;
    cursor: default;
}

.legend>ul>li:hover, .legend>ul>li.hovering {
    background-color: #f8f8f8;
}

.legend>ul>li>a {
    text-decoration: none;
    color: #152d74;
}

.legend>ul>li::before {
    content: "⸺";
    margin-right: 0.5em;
    font-weight: bold;
}

.legend>ul>li.color0::before {
    color: #f94a01;
}

.legend>ul>li.color1::before {
    color: #6b42b6;
}

.legend>ul>li.color2::before {
    color: #11a854;
}

.legend>ul>li.color3::before {
    color: #128db2;
}

.legend>ul>li.color4::before {
    color: #e12fbc;
}

.legend>ul>li.color5::before {
    color: #e6ab02;
}

.legend>ul>li.color6::before {
    color: #9ed034;
}

.legend>ul>li.color7::before {
    color: #fabebe;
}

.legend>ul>li.color8::before {
    color: #ffd8b1;
}

.legend>ul>li.color9::before {
    color: #808000;
}

.legend>ul>li.color10::before {
    color: #666666;
}
.pinWordButton {
  background-color: #BCB8AE; /*Mindful Gray*/
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.getUrlButton {
  background-color: #BCB8AE; /*Mindful Gray*/
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
