body {
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
    font-size: 20px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.pageContainer {
    width: 50em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

h1 {
    text-align: center;
    font-weight: normal;
    font-size: 280%;
    font-family: 'DM Serif Display', serif;
    margin: 0.3em 0 0.7em 0;
    padding: 0;
}

.app>h2 {
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 160%;
    margin: 0.2em 0;
}

h2 {
    font-size: 230%;
    font-weight: normal;
    font-family: 'DM Serif Display', serif;
    margin: 1.4em 0 0.6em 0;
    line-height: 100%;
}

h3 {
    font-family: 'DM Serif Display', serif;
    font-size: 125%;
    font-weight: 700;
    margin: 1em 0.4em -0.3em 0;
    padding: 0;
    display: inline;
}

.prose {
    color: #333;
    line-height: 150%;
}

footer {
    opacity: 0.7;
    font-size: 80%;
    margin: 2em 0 1em 0;
}

.subtitle {
    font-size: 60%;
}

.splashScreen {
    text-align: center;
    font-size: 120%;
    margin: 4em 2em 7em 2em;
}

.appContainer {
    width: 40em;
}

.app {
    display: none;
}

#downloadProgressPane {
    color: #0d441d;
}

.progressBarContainer {
    margin: 0.7em;
    border: #36864e solid 0.1em;
    border-radius: 0.3em;
    position: relative;
    height: 1.5em;
}

.progressBar {
    background: #bfdfc9;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    z-index: 0;
    border-radius: 0.15em;
}

.progressText {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0.1em;
    text-shadow: 0 0 0.2em #fff;
}

.plotAndLegend {
    position: relative;
    margin-top: 1.3em;
}

.plotContainer {
    position: relative;
    left: -2em;
    width: 41em;
}

.centered {
    text-align: center;
}

.wordInput {
    margin: 0 0 0.1em 0;
    font-size: 160%;
    width: 40%;
    text-align: center;
}

input {
    border: solid 0.05em #ccc;
    border-radius: 0.2em;
    padding: 0.2em;
}

input:focus {
    border-color: #86bdf0;
    background: #fafbfd;
    outline: none;
}

input.invalid {
    background-color: #fdebeb;
}

input.invalid:focus {
    border-color: #9c5555;
}

.mustIncludeInput {
    margin: 0 0 1em 0;
    font-size: 120%;
    width: 60%;
    text-align: center;
    border: solid 0.05em #ccc;
    padding: 0.2em;
}

.tooltipContent .explanation {
    font-size: 90%;
}

.tooltipContent th {
    font-size: 120%;
}

.tooltipContent th, .tooltipContent td {
    vertical-align: baseline;
}

.tooltipContent th.left, .tooltipContent td.left {
    padding-right: 0.3em;
}

.tooltipContent th.right, .tooltipContent td.right {
    padding-left: 0.3em;
}

.tooltipContent .year {
    font-size: 140%;
    font-weight: bold;
}

.tooltipContent .interleave {
    padding: 0.2em 0 0.5em 0;
}

.hint {
    opacity: 0.7;
    font-size: 80%;
    margin-top: 0.1em;
}

.tooltipContent table {
    width: 100%;
}

.tooltipContent .wait {
    display: none;
    position: absolute;
    text-align: center;
    width: 10em;
    white-space: normal;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
    font-size: 80%;
}

.tooltipContent.waiting .wait {
    display: block;
}

.tooltipContent .suggestionsTable {
    visibility: visible;
}

.tooltipContent.waiting .suggestionsTable {
    visibility: hidden;
}

.tooltipContent .suggestion {
    padding: 0.05em 0;
    font-size: 90%;
}

.tooltipContent .left {
    text-align: left;
}

.tooltipContent .right {
    text-align: right;
}

.tooltipContent .removeWordButton {
    background-color: #BCB8AE;
    /*Mindful Gray*/
    color: white;
    font-size: 80%;
}

a {
    text-decoration: none;
    color: #1135a0;
}

.legend {
    visibility: hidden;
    display: table-caption;
    background-color: #e8e8e8;
    border-radius: 0.5em;
    padding: 0.7em 0.9em;
    width: auto;
    position: absolute;
    left: 40em;
    top: 0;
    min-width: 10em;
}

.legend>ul {
    list-style-type: none;
    margin: 0 0 0.5em 0;
    padding: 0;
}

.legend>ul>li {
    margin: -0.2em -0.4em 0.0em -0.4em;
    padding: 0.2em 0.4em 0.3em 0.4em;
    border-radius: 0.2em;
    white-space: nowrap;
    cursor: default;
}

.legend>ul>li:hover, .legend>ul>li.hovering {
    background-color: #f8f8f8;
}

.legend>ul>li>a {
    text-decoration: none;
    color: #152d74;
}

.legend>ul>li::before {
    content: "⸺";
    margin-right: 0.5em;
    font-weight: bold;
}

.legend>ul>li.color0::before {
    color: #f94a01;
}

.legend>ul>li.color1::before {
    color: #6b42b6;
}

.legend>ul>li.color2::before {
    color: #11a854;
}

.legend>ul>li.color3::before {
    color: #128db2;
}

.legend>ul>li.color4::before {
    color: #e12fbc;
}

.legend>ul>li.color5::before {
    color: #e6ab02;
}

.legend>ul>li.color6::before {
    color: #9ed034;
}

.legend>ul>li.color7::before {
    color: #fabebe;
}

.legend>ul>li.color8::before {
    color: #ffd8b1;
}

.legend>ul>li.color9::before {
    color: #808000;
}

.legend>ul>li.color10::before {
    color: #666666;
}

.pinWordButton {
    background-color: #BCB8AE;
    /*Mindful Gray*/
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 80%;
}

.getUrlButton {
    background-color: #BCB8AE;
    /*Mindful Gray*/
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 80%;
}
